{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1>Bienvenue sur notre plateforme !</h1>
        <p class="lead">Accédez rapidement à la section qui vous intéresse.</p>

        <div class="mt-4">
            <a href="{{ path('app_groupe') }}" class="btn btn-primary mx-2">Groupes</a>
            <a href="{{ path('app_habitude') }}" class="btn btn-success mx-2">Habitudes</a>
            <a href="{{ path('app_connexion') }}" class="btn btn-warning mx-2">Connexion</a>
        </div>
    </div>
{% endblock %}
