{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'accueil !</h1>

    <ul>
        <li><a href="{{ path('app_inscription') }}">Inscription</a></li>
        <li><a href="{{ path('app_connexion') }}">Connexion</a></li>
        <li><a href="{{ path('app_profil') }}">Profil</a></li>
    </ul>
{% endblock %}
